/*CMS Element Visibility*/

.selected {
    position: relative;
    outline: 2px solid magenta !important;
    outline-offset: -2px !important;
}

.link-element.selected > .image-element {
    outline: 2px solid magenta !important;
    outline-offset: -2px !important
}

.header-environment,
.content-environment,
.footer-environment,
.building-container,
.building-column,
.building-block {
    cursor: pointer;
    outline: 1px dashed #7f8c8d;
    outline-offset: -1px;
}

.header-environment {
    margin-bottom: 1rem;
}

.footer-environment {
    margin-top: 1rem;
}

.building-container {
    margin: 1rem;
    width: 100%;
    max-width: calc(100% - 2rem) !important;
}

.building-container>* {
    gap: 0 !important;
}

.building-container:first-child {
    margin-bottom: 0.5rem;
}

.building-container:not(:first-child):not(:last-child) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.building-container:last-child {
    margin-top: 0.5rem;
}

.building-container:only-child {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

[class*="building-column-span-"]:not(.building-column-span-one) {
    margin: 0.5rem;
    width: 100%;
    max-width: calc(100% - 1rem) !important;
}

[class*="building-column-span-"]:not(.building-column-span-one) .building-column {
    margin: 0.5rem;
    width: 100%;
    max-width: calc(100% - 1rem) !important;
}

.building-column-span-one .building-column {
    margin: 1rem;
    width: 100%;
    max-width: calc(100% - 2rem) !important;
}

.building-column .building-container {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.building-column .building-block {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: calc(100% - 2rem) !important;
}

.embed-element::before {
  content: "⚠️ Embed Preview (Embeds appear on published pages.)";
  display: block;
  padding: 40px;
  background: #f0f0f0;
  border: 2px dashed #ccc;
  text-align: center;
  color: #666;
}

.embed-element > * {
  display: none !important;
}

.placeholder-block {
    display: block;
    position: relative;
    margin: 1rem;
    width: calc(100% - 2rem) !important;
    height: 40px;
    background-color: #34495e;
    outline: 1px solid #7f8c8d;
    outline-offset: -1px;
    cursor: pointer;
}

.placeholder-block::before {
    content: '+';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Arial';
    font-weight: bold;
    font-size: 36px;
    color: #fff;
    cursor: inherit;
}

.placeholder-block:hover {
    background-color: magenta;
}

.navigation {
    position: relative !important;
}

.stretch-to-screen {
    height: auto !important;
}

.match-adjacent-height {
    height: auto !important;
}