:focus {
    outline: none;
}

#loaded-page {
    margin-top: 40px;
}

#loaded-page.sidebar-active {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 250px);
}

.cms-menu-bar {
    display: block;
    position: fixed;
    top: 0;
    background-color: blue;
    height: 40px;
    width: 100vw;
    z-index: 1000000;
    padding: 5px;
}

/* .selected {
  position: relative;
}

.selected::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  pointer-events: none;
  box-shadow: 0 0 0 2px magenta;
  z-index: 9998;
} */

/* .selected::after {
  content: attr(data-name);
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: magenta;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 1px 8px;
  pointer-events: none;
  z-index: 9999;
  white-space: nowrap;
} */

/*CMS Element Visibility*/

.selected {
    position: relative;
    outline: 2px solid magenta !important;
    outline-offset: -2px !important;
}

.link-element.selected > .image-element {
    outline: 2px solid magenta !important;
    outline-offset: -2px !important
}

.selected-label {
    position: relative;
    background: magenta;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 8px;
    pointer-events: none;
    z-index: 99999999999;
    white-space: nowrap;
}

.header-environment,
.content-environment,
.footer-environment,
.building-container,
.building-column,
.building-block {
    cursor: pointer;
    outline: 1px dashed #7f8c8d;
    outline-offset: -1px;
}

.header-environment {
    margin-bottom: 1rem;
}

.footer-environment {
    margin-top: 1rem;
}

.building-container {
    margin: 1rem;
    width: 100%;
    max-width: calc(100% - 2rem) !important;
}

.building-container>* {
    gap: 0 !important;
}

.building-container:first-child {
    margin-bottom: 0.5rem;
}

.building-container:not(:first-child):not(:last-child) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.building-container:last-child {
    margin-top: 0.5rem;
}

.building-container:only-child {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

[class*="building-column-span-"]:not(.building-column-span-one) {
    margin: 0.5rem;
    width: 100%;
    max-width: calc(100% - 1rem) !important;
}

[class*="building-column-span-"]:not(.building-column-span-one) .building-column {
    margin: 0.5rem;
    width: 100%;
    max-width: calc(100% - 1rem) !important;
}

.building-column-span-one .building-column {
    margin: 1rem;
    width: 100%;
    max-width: calc(100% - 2rem) !important;
}

.building-column .building-container {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.building-column .building-block {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: calc(100% - 2rem) !important;
}

/*EMD CMS Element Visibility*/

.placeholder-block {
    display: block;
    position: relative;
    margin: 1rem;
    width: calc(100% - 2rem) !important;
    height: 40px;
    background-color: #34495e;
    outline: 1px solid #7f8c8d;
    outline-offset: -1px;
    cursor: pointer;
}

.placeholder-block::before {
    content: '+';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Arial';
    font-weight: bold;
    font-size: 36px;
    color: #fff;
    cursor: inherit;
}

.placeholder-block:hover {
    background-color: magenta;
}

.navigation {
    position: relative !important;
}

.stretch-to-screen {
    height: auto !important;
}

.match-adjacent-height {
    height: auto !important;
}

.embed-element {
    padding: 1rem;
}

/* CMS CSS Testing */

.content-show {
    display: block !important;
}

.content-hide {
    display: none !important;
}

.cms-content-show {
    display: grid;
}

.cms-menu {
    display: block;
}

/* CMS */

.cms-menu-container {
    display: block;
    position: fixed;
    width: 280px;
    height: 700px;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    background-color: whitesmoke;
    box-sizing: border-box;
    z-index: 9999999999;
}

.cms-menu-item-container {
    display: block;
    position: relative;
}

.cms-menu-item {
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    font-family: 'Arial';
    font-size: 20px;
    text-align: center;
    color: DarkGray;
    box-shadow: 0 1px 0 0 silver inset, 0 -1px 0 0 silver inset;
    box-sizing: border-box;
    align-content: center;
}

.cms-menu-item:nth-child(1) {
    box-shadow: 0 -1px 0 0 silver inset !important;
}

.cms-menu-item:last-child {
    box-shadow: 0 1px 0 0 silver inset !important;
}

.cms-menu-item:hover {
    color: whitesmoke;
    background-color: magenta;
}

.cms-menu-secondary-container {
    display: none;
    position: fixed;
    width: 280px;
    height: 700px;
    left: 280px;
    top: 50%;
    transform: translateY(-50%);
    background-color: whitesmoke;
    box-shadow: 2px 0 0 0 silver inset;
    box-sizing: border-box;
    z-index: 9999999999;
}

.cms-menu-item:hover .cms-menu-secondary-container {
    display: block;
}

.cms-menu-secondary-container:hover {
    display: block;
}

.cms-menu-secondary-item-container {
    display: block;
    position: relative;
}

/* Text Editor Popup */
.text-editor-pop {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 760px;
    height: 600px;
    background-color: whitesmoke;
    z-index: 99999999999999;
    box-sizing: border-box;
}

/* Quill Toolbar */
.ql-toolbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

/* Quill Editor */
.ql-editor {
    max-height: 550px !important;
    overflow-y: auto;
    padding: 10px;
}

.ql-container.ql-snow {
    border: none !important;
}

/* Limit height of the font dropdown and enable scrolling */
.ql-snow .ql-picker.ql-font .ql-picker-options {
    max-height: 550px;
    /* your desired height */
    overflow-y: auto;
    /* adds scrollbar when content exceeds height */
}

.ql-snow .ql-picker.ql-font .ql-picker-options::-webkit-scrollbar {
    width: 8px;
}

.ql-snow .ql-picker.ql-font .ql-picker-options::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.ql-font .ql-picker-label {
    white-space: nowrap;
    /* Prevent line breaks */
    overflow: hidden;
    /* Hide overflowing text */
    text-overflow: ellipsis;
    /* Show "..." if text is too long */
    display: inline-block;
    /* Ensure the element respects width */
    max-width: 120px;
    /* Adjust width as needed */
    vertical-align: middle;
    /* Align nicely with the arrow */
}

.ql-font .ql-picker-label::before {
    content: none !important;
    /* remove Quill's default pseudo-element */
}

.ql-font .ql-picker-label::after {
    content: '\00a0\25BC' !important;
    /* remove Quill's default pseudo-element */
}

/* Limit height of the font dropdown and enable scrolling */
.ql-snow .ql-picker.ql-size .ql-picker-options {
    max-height: 550px;
    overflow-y: auto;
}

.ql-snow .ql-picker.ql-size .ql-picker-options::-webkit-scrollbar {
    width: 8px;
}

.ql-snow .ql-picker.ql-size .ql-picker-options::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.ql-size .ql-picker-label::before {
    content: none !important;
    /* remove Quill's default pseudo-element */
}

.ql-size .ql-picker-label::after {
    content: '\00a0\25BC' !important;
    /* remove Quill's default pseudo-element */
}

.ql-header .ql-picker-label::before {
    content: none !important;
    /* remove Quill's default pseudo-element */
}

.ql-header .ql-picker-label::after {
    content: '\00a0\25BC' !important;
    /* remove Quill's default pseudo-element */
}

.ql-icon-search-tooltip {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1000;
    width: 280px;
    max-height: 300px;
    overflow-y: auto;
    left: 50%;
    transform: translateX(-50%);
}

.ql-icon-search-input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.ql-icon-search-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    gap: 10px;
}

.ql-icon-search-result {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    padding: 5px;
    border-radius: 3px;
    transition: background-color 0.2s;
}

.ql-icon-search-result:hover {
    background-color: #f0f0f0;
}

/*Google-To-Quill Fonts*/
/* Font: Default */
.ql-snow .ql-picker.ql-font .ql-picker-item:not([data-value])::before {
    content: 'Clear' !important;
}

.ql-snow .ql-editor .ql-font-roboto {
    font-family: 'Roboto', sans-serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="roboto"]::before {
    content: "Roboto";
    font-family: 'Roboto', sans-serif;
}

/* Font: Comfortaa */
.ql-snow .ql-editor .ql-font-comfortaa {
    font-family: 'Comfortaa', cursive !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="comfortaa"]::before {
    content: "Comfortaa";
    font-family: 'Comfortaa', cursive;
}

/* Font: Lora */
.ql-snow .ql-editor .ql-font-lora {
    font-family: 'Lora', serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="lora"]::before {
    content: "Lora";
    font-family: 'Lora', serif;
}

/* Font: Bebas Neue */
.ql-snow .ql-editor .ql-font-bebas-neue {
    font-family: 'Bebas Neue', sans-serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="bebas-neue"]::before {
    content: "Bebas Neue";
    font-family: 'Bebas Neue', sans-serif;
}

/* Font: Google Sans Code */
.ql-snow .ql-editor .ql-font-google-sans-code {
    font-family: 'Google Sans Code', monospace !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="google-sans-code"]::before {
    content: "Google Sans Code";
    font-family: 'Google Sans Code', monospace;
}

/* Font: Funnel Display */
.ql-snow .ql-editor .ql-font-funnel-display {
    font-family: 'Funnel Display', sans-serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="funnel-display"]::before {
    content: "Funnel Display";
    font-family: 'Funnel Display', sans-serif;
}

/* Font: Alumni Sans Pinstripe */
.ql-snow .ql-editor .ql-font-alumni-sans-pinstripe {
    font-family: 'Alumni Sans Pinstripe', sans-serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="alumni-sans-pinstripe"]::before {
    content: "Alumni Sans Pinstripe";
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}

/* Font: Lexend */
.ql-snow .ql-editor .ql-font-lexend {
    font-family: 'Lexend', sans-serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="lexend"]::before {
    content: "Lexend";
    font-family: 'Lexend', sans-serif;
}

/* Font: Cal Sans */
.ql-snow .ql-editor .ql-font-cal-sans {
    font-family: 'Cal Sans', sans-serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="cal-sans"]::before {
    content: "Cal Sans";
    font-family: 'Cal Sans', sans-serif;
}

/* Font: Sono */
.ql-snow .ql-editor .ql-font-sono {
    font-family: 'Sono', sans-serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="sono"]::before {
    content: "Sono";
    font-family: 'Sono', sans-serif;
}

/* Font: Pacifico */
.ql-snow .ql-editor .ql-font-pacifico {
    font-family: 'Pacifico', cursive !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="pacifico"]::before {
    content: "Pacifico";
    font-family: 'Pacifico', cursive;
}

/* Font: Delius */
.ql-snow .ql-editor .ql-font-delius {
    font-family: 'Delius', cursive !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="delius"]::before {
    content: "Delius";
    font-family: 'Delius', cursive;
}

/* Font: Meow Script */
.ql-snow .ql-editor .ql-font-meow-script {
    font-family: 'Meow Script', cursive !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="meow-script"]::before {
    content: "Meow Script";
    font-family: 'Meow Script', cursive;
}

/* Font: Borel */
.ql-snow .ql-editor .ql-font-borel {
    font-family: 'Borel', cursive !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="borel"]::before {
    content: "Borel";
    font-family: 'Borel', cursive;
}

/* Font: DynaPuff */
.ql-snow .ql-editor .ql-font-dynapuff {
    font-family: 'DynaPuff', cursive !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="dynapuff"]::before {
    content: "DynaPuff";
    font-family: 'DynaPuff', cursive;
}

/* Font: Chewy */
.ql-snow .ql-editor .ql-font-chewy {
    font-family: 'Chewy', cursive !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="chewy"]::before {
    content: "Chewy";
    font-family: 'Chewy', cursive;
}

/* Font: Twinkle Star */
.ql-snow .ql-editor .ql-font-twinkle-star {
    font-family: 'Twinkle Star', cursive !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="twinkle-star"]::before {
    content: "Twinkle Star";
    font-family: 'Twinkle Star', cursive;
}

/* Font: Agbalumo */
.ql-snow .ql-editor .ql-font-agbalumo {
    font-family: 'Agbalumo', serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="agbalumo"]::before {
    content: "Agbalumo";
    font-family: 'Agbalumo', serif;
}

/* Font: Playwrite ZA */
.ql-snow .ql-editor .ql-font-playwrite-za {
    font-family: 'Playwrite ZA', serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="playwrite-za"]::before {
    content: "Playwrite ZA";
    font-family: 'Playwrite ZA', serif;
}

/* Font: Lobster */
.ql-snow .ql-editor .ql-font-lobster {
    font-family: 'Lobster', cursive !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="lobster"]::before {
    content: "Lobster";
    font-family: 'Lobster', cursive;
}

/* Font: Quintessential */
.ql-snow .ql-editor .ql-font-quintessential {
    font-family: 'Quintessential', cursive !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="quintessential"]::before {
    content: "Quintessential";
    font-family: 'Quintessential', cursive;
}

/* Font: Poller One */
.ql-snow .ql-editor .ql-font-poller-one {
    font-family: 'Poller One', cursive !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="poller-one"]::before {
    content: "Poller One";
    font-family: 'Poller One', cursive;
}

/* Font: Cinzel */
.ql-snow .ql-editor .ql-font-cinzel {
    font-family: 'Cinzel', serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="cinzel"]::before {
    content: "Cinzel";
    font-family: 'Cinzel', serif;
}

/* Font: Germania One */
.ql-snow .ql-editor .ql-font-germania-one {
    font-family: 'Germania One', cursive !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="germania-one"]::before {
    content: "Germania One";
    font-family: 'Germania One', cursive;
}

/* Font: Ultra */
.ql-snow .ql-editor .ql-font-ultra {
    font-family: 'Ultra', serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="ultra"]::before {
    content: "Ultra";
    font-family: 'Ultra', serif;
}

/* Font: Pixelify Sans */
.ql-snow .ql-editor .ql-font-pixelify-sans {
    font-family: 'Pixelify Sans', sans-serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="pixelify-sans"]::before {
    content: "Pixelify Sans";
    font-family: 'Pixelify Sans', sans-serif;
}

/* Font: UnifrakturMaguntia */
.ql-snow .ql-editor .ql-font-unifrakturmaguntia {
    font-family: 'UnifrakturMaguntia', cursive !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="unifrakturmaguntia"]::before {
    content: "UnifrakturMaguntia";
    font-family: 'UnifrakturMaguntia', cursive;
}

/* Font: MonteCarlo */
.ql-snow .ql-editor .ql-font-montecarlo {
    font-family: 'MonteCarlo', cursive !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="montecarlo"]::before {
    content: "MonteCarlo";
    font-family: 'MonteCarlo', cursive;
}

/* Font: Marck Script */
.ql-snow .ql-editor .ql-font-marck-script {
    font-family: 'Marck Script', cursive !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="marck-script"]::before {
    content: "Marck Script";
    font-family: 'Marck Script', cursive;
}

/* Font: Fugaz One */
.ql-font-fugaz-one {
    font-family: 'Fugaz One', cursive !important;
}

.ql-snow .ql-editor .ql-font-fugaz-one {
    font-family: 'Fugaz One', cursive !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="fugaz-one"]::before {
    content: "Fugaz One";
    font-family: 'Fugaz One', cursive;
}

/* Font: Caveat Brush */
.ql-snow .ql-editor .ql-font-caveat-brush {
    font-family: 'Caveat Brush', cursive !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="caveat-brush"]::before {
    content: "Caveat Brush";
    font-family: 'Caveat Brush', cursive;
}

/* Font: Coming Soon */
.ql-snow .ql-editor .ql-font-coming-soon {
    font-family: 'Coming Soon', cursive !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="coming-soon"]::before {
    content: "Coming Soon";
    font-family: 'Coming Soon', cursive;
}

/* Font: Short Stack */
.ql-snow .ql-editor .ql-font-short-stack {
    font-family: 'Short Stack', cursive !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="short-stack"]::before {
    content: "Short Stack";
    font-family: 'Short Stack', cursive;
}

/* Font: Michroma */
.ql-snow .ql-editor .ql-font-michroma {
    font-family: 'Michroma', sans-serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="michroma"]::before {
    content: "Michroma";
    font-family: 'Michroma', sans-serif;
}

/* Font: SUSE */
.ql-snow .ql-editor .ql-font-suse {
    font-family: 'SUSE', sans-serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="suse"]::before {
    content: "SUSE";
    font-family: 'SUSE', sans-serif;
}

/* Font: Noto Sans */
.ql-snow .ql-editor .ql-font-noto-sans {
    font-family: 'Noto Sans', sans-serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="noto-sans"]::before {
    content: "Noto Sans";
    font-family: 'Noto Sans', sans-serif;
}

/* Font: Merriweather Sans */
.ql-snow .ql-editor .ql-font-merriweather-sans {
    font-family: 'Merriweather Sans', sans-serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="merriweather-sans"]::before {
    content: "Merriweather Sans";
    font-family: 'Merriweather Sans', sans-serif;
}

/* Font: Host Grotesk */
.ql-snow .ql-editor .ql-font-host-grotesk {
    font-family: 'Host Grotesk', sans-serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="host-grotesk"]::before {
    content: "Host Grotesk";
    font-family: 'Host Grotesk', sans-serif;
}

/* Font: Lato */
.ql-snow .ql-editor .ql-font-lato {
    font-family: 'Lato', sans-serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="lato"]::before {
    content: "Lato";
    font-family: 'Lato', sans-serif;
}

/* Font: Newsreader */
.ql-snow .ql-editor .ql-font-newsreader {
    font-family: 'Newsreader', serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="newsreader"]::before {
    content: "Newsreader";
    font-family: 'Newsreader', serif;
}

/* Font: Libre Bodoni */
.ql-snow .ql-editor .ql-font-libre-bodoni {
    font-family: 'Libre Bodoni', serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="libre-bodoni"]::before {
    content: "Libre Bodoni";
    font-family: 'Libre Bodoni', serif;
}

/* Font: Baskervville SC */
.ql-snow .ql-editor .ql-font-baskervville-sc {
    font-family: 'Baskervville SC', serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="baskervville-sc"]::before {
    content: "Baskervville SC";
    font-family: 'Baskervville SC', serif;
}

/* Font: Baskervville */
.ql-snow .ql-editor .ql-font-baskervville {
    font-family: 'Baskervville', serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="baskervville"]::before {
    content: "Baskervville";
    font-family: 'Baskervville', serif;
}

/* Font Size Values */
.ql-snow .ql-picker.ql-size .ql-picker-item:not([data-value])::before {
    content: 'Clear' !important;
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="9px"]::before {
    content: '9px' !important;
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="12px"]::before {
    content: '12px' !important;
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before {
    content: '14px' !important;
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
    content: '16px' !important;
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="20px"]::before {
    content: '20px' !important;
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="24px"]::before {
    content: '24px' !important;
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="28px"]::before {
    content: '28px' !important;
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="32px"]::before {
    content: '32px' !important;
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="36px"]::before {
    content: '36px' !important;
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="40px"]::before {
    content: '40px' !important;
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="50px"]::before {
    content: '50px' !important;
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="60px"]::before {
    content: '60px' !important;
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="70px"]::before {
    content: '70px' !important;
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="80px"]::before {
    content: '80px' !important;
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="90px"]::before {
    content: '90px' !important;
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="100px"]::before {
    content: '100px' !important;
    font-size: 16px !important;
}

/* Header Values */

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
    content: 'Title' !important;
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
    content: 'Subtitle' !important;
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
    content: 'Section' !important;
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
    content: 'Subsection' !important;
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="5"]::before {
    content: 'Detail' !important;
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-header .ql-picker-item:not([data-value])::before {
    content: 'Paragraph' !important;
    font-size: 16px !important;
}

/* Main Sidebar Container */
#style-editor-sidebar {
    z-index: 999999999999999;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #2c3e50;
    /* A modern dark gray */
    color: #ecf0f1;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    box-sizing: border-box;
    z-index: 10000;
    overflow-y: auto;
    border-right: 1px solid #34495e;
}

.sidebar-header {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #34495e;
    text-align: center;
}

.sidebar-header h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #ffffff;
}

/* Section Styling */
.sidebar-section {
    margin-bottom: 1.5rem;
}

.sidebar-section-title {
    font-size: 0.9rem;
    font-weight: bold;
    color: #95a5a6;
    text-transform: uppercase;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* General Control Group Styling */
.sidebar-control-group {
    margin-bottom: 1rem;
}

.sidebar-control-group .sidebar-control-label {
    display: block;
    font-size: 0.85rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #bdc3c7;
}

/* Inputs */
.sidebar input[type="number"],
.sidebar input[type="text"],
.sidebar select {
    width: 100%;
    padding: 8px;
    font-size: 0.9rem;
    color: #ecf0f1;
    background: #34495e;
    border: 1px solid #7f8c8d;
    border-radius: 4px;
    box-sizing: border-box;
}

.sidebar input:focus,
.sidebar select:focus {
    outline: none;
    border-color: magenta;
}

/* Input + Unit */
.sidebar .input-with-unit {
    display: flex;
}

/* Color Picker */
.sidebar .color-input-wrapper {
    display: flex;
    align-items: center;
    background: #34495e;
    border: 1px solid #7f8c8d;
    border-radius: 4px;
}

.sidebar input[type="color"] {
    width: 40px;
    height: 38px;
    padding: 4px;
    border: none;
    background: transparent;
    cursor: pointer;
}

/* Segmented Control */
.sidebar .sidebar-segmented-control {
    display: flex;
    width: 100%;
}

.sidebar .sidebar-segmented-control button {
    flex: 1;
    padding: 8px;
    background: #34495e;
    border: 1px solid #7f8c8d;
    color: #ecf0f1;
    cursor: pointer;
    transition: background .2s ease;
}

.sidebar .sidebar-segmented-control button:first-child {
    border-radius: 4px 0 0 4px;
}

.sidebar .sidebar-segmented-control button:last-child {
    border-radius: 0 4px 4px 0;
    border-left: none;
}

.sidebar .sidebar-segmented-control button:not(:first-child):not(:last-child) {
    border-left: none;
}

.sidebar .sidebar-segmented-control button:hover {
    background: magenta;
    color: #fff;
}

.sidebar .sidebar-segmented-control .active {
    background: magenta;
    border-color: #7f8c8d;
    color: #fff;
}

/* Padding Control */
.sidebar .sidebar-quad-control {
    display: grid;
    grid-template: auto auto auto / auto auto auto;
    gap: 5px;
    place-items: center;
}

.sidebar .sidebar-quad-control input {
    width: 65px;
    text-align: center;
    box-sizing: border-box;
}

.sidebar .sidebar-quad-control .quad-top {
    grid-column: 2;
    grid-row: 1;
}

.sidebar .sidebar-quad-control .quad-left {
    grid-column: 1;
    grid-row: 2;
}

.sidebar .sidebar-quad-control .quad-center-label {
    grid-column: 2;
    grid-row: 2;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #7f8c8d;
    border: 1px dashed #7f8c8d;
}

.sidebar .sidebar-quad-control .quad-right {
    grid-column: 3;
    grid-row: 2;
}

.sidebar .sidebar-quad-control .quad-bottom {
    grid-column: 2;
    grid-row: 3;
}

.sidebar .sidebar-button {
    display: block;
    width: 100%;
    margin-bottom: 6px;
    padding: 6px;
    background-color: #34495e;
    color: #ECF0F0;
    border-radius: 4px;
    border: 1px solid #7f8c8d;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.sidebar .sidebar-button:last-child {
    margin-bottom: 0px;
}

.sidebar .sidebar-button:hover {
    background-color: magenta;
    color: #fff;
}

.sidebar-spacer {
    margin-top: 10px;
}

.sidebar-checkbox-container {
    display: inline-flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 24px;
    gap: 10px;
}

.sidebar-checkbox-input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 0;
    z-index: 2;
}

.sidebar-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #34495e;
    border: 2px solid #7f8c8d;
    border-radius: 4px;
    z-index: 1;
    transition: background 0.2s, border-color 0.2s;
}

.sidebar-checkbox-input:checked+.sidebar-checkbox {
    background-color: magenta;
    border-color: #7f8c8d;
}

.sidebar-checkbox::after {
    content: "";
    position: absolute;
    display: none;
    left: 8px;
    top: 4px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.sidebar-checkbox-input:checked+.sidebar-checkbox::after {
    display: block;
}

.sidebar-input-with-unit {
    display: flex;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
}

.sidebar-input-with-unit input {
    border: none;
    flex-grow: 1;
    padding: 5px;
    outline: none;
}

.sidebar-input-unit-selector {
    margin-left: 10px;
    width: auto !important;
    height: 34.5px;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
}

.accordion-content {
    display: block !important;
}

.accordion-label> :first-child::before {
    content: "\25B2" !important;
    color: magenta !important;
}
