@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Comfortaa:wght@300..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Lexend:wght@100..900&family=Cal+Sans&family=Sono:wght@200..800&family=SUSE:wght@100..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Funnel+Display:wght@300..800&family=Alumni+Sans+Pinstripe:ital@0;1&family=Michroma&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&family=Fugaz+One&family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Playwrite+ZA:wght@100..400&family=Cinzel:wght@400..900&family=Ultra&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Libre+Bodoni:ital@0;1&family=Baskervville+SC&family=Baskervville:ital@0;1&family=Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Delius&family=Meow+Script&family=Borel&family=DynaPuff:wght@400..700&family=Chewy&family=Twinkle+Star&family=Lobster&family=Quintessential&family=UnifrakturMaguntia&family=MonteCarlo&family=Marck+Script&family=Caveat+Brush&family=Coming+Soon&family=Short+Stack&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+ZA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&display=swap'); */

/*Google-To-Quill Fonts*/
/* Font: Roboto */
.ql-font-roboto {
    font-family: 'Roboto', sans-serif !important;
}

/* Font: Comfortaa */
.ql-font-comfortaa {
    font-family: 'Comfortaa', cursive !important;
}

/* Font: Lora */
.ql-font-lora {
    font-family: 'Lora', serif !important;
}

/* Font: Bebas Neue */
.ql-font-bebas-neue {
    font-family: 'Bebas Neue', sans-serif !important;
}

/* Font: Google Sans Code */
.ql-font-google-sans-code {
    font-family: 'Google Sans Code', monospace !important;
}

/* Font: Funnel Display */
.ql-font-funnel-display {
    font-family: 'Funnel Display', sans-serif !important;
}

/* Font: Alumni Sans Pinstripe */
.ql-font-alumni-sans-pinstripe {
    font-family: 'Alumni Sans Pinstripe', sans-serif !important;
}

/* Font: Lexend */
.ql-font-lexend {
    font-family: 'Lexend', sans-serif !important;
}

/* Font: Cal Sans */
.ql-font-cal-sans {
    font-family: 'Cal Sans', sans-serif !important;
}

/* Font: Sono */
.ql-font-sono {
    font-family: 'Sono', sans-serif !important;
}

/* Font: Pacifico */
.ql-font-pacifico {
    font-family: 'Pacifico', cursive !important;
}

/* Font: Delius */
.ql-font-delius {
    font-family: 'Delius', cursive !important;
}

/* Font: Meow Script */
.ql-font-meow-script {
    font-family: 'Meow Script', cursive !important;
}

/* Font: Borel */
.ql-font-borel {
    font-family: 'Borel', cursive !important;
}

/* Font: DynaPuff */
.ql-font-dynapuff {
    font-family: 'DynaPuff', cursive !important;
}

/* Font: Chewy */
.ql-font-chewy {
    font-family: 'Chewy', cursive !important;
}

/* Font: Twinkle Star */
.ql-font-twinkle-star {
    font-family: 'Twinkle Star', cursive !important;
}

/* Font: Agbalumo */
.ql-font-agbalumo {
    font-family: 'Agbalumo', serif !important;
}

/* Font: Playwrite ZA */
.ql-font-playwrite-za {
    font-family: 'Playwrite ZA', serif !important;
}

/* Font: Lobster */
.ql-font-lobster {
    font-family: 'Lobster', cursive !important;
}

/* Font: Quintessential */
.ql-font-quintessential {
    font-family: 'Quintessential', cursive !important;
}

/* Font: Poller One */
.ql-font-poller-one {
    font-family: 'Poller One', cursive !important;
}

/* Font: Cinzel */
.ql-font-cinzel {
    font-family: 'Cinzel', serif !important;
}

/* Font: Germania One */
.ql-font-germania-one {
    font-family: 'Germania One', cursive !important;
}

/* Font: Ultra */
.ql-font-ultra {
    font-family: 'Ultra', serif !important;
}

/* Font: Pixelify Sans */
.ql-font-pixelify-sans {
    font-family: 'Pixelify Sans', sans-serif !important;
}

/* Font: UnifrakturMaguntia */
.ql-font-unifrakturmaguntia {
    font-family: 'UnifrakturMaguntia', cursive !important;
}

/* Font: MonteCarlo */
.ql-font-montecarlo {
    font-family: 'MonteCarlo', cursive !important;
}

/* Font: Marck Script */
.ql-font-marck-script {
    font-family: 'Marck Script', cursive !important;
}

/* Font: Fugaz One */
.ql-font-fugaz-one {
    font-family: 'Fugaz One', cursive !important;
}

/* Font: Caveat Brush */
.ql-font-caveat-brush {
    font-family: 'Caveat Brush', cursive !important;
}

/* Font: Coming Soon */
.ql-font-coming-soon {
    font-family: 'Coming Soon', cursive !important;
}

/* Font: Short Stack */
.ql-font-short-stack {
    font-family: 'Short Stack', cursive !important;
}

/* Font: Michroma */
.ql-font-michroma {
    font-family: 'Michroma', sans-serif !important;
}

/* Font: SUSE */
.ql-font-suse {
    font-family: 'SUSE', sans-serif !important;
}

/* Font: Noto Sans */
.ql-font-noto-sans {
    font-family: 'Noto Sans', sans-serif !important;
}

/* Font: Merriweather Sans */
.ql-font-merriweather-sans {
    font-family: 'Merriweather Sans', sans-serif !important;
}

/* Font: Host Grotesk */
.ql-font-host-grotesk {
    font-family: 'Host Grotesk', sans-serif !important;
}

/* Font: Lato */
.ql-font-lato {
    font-family: 'Lato', sans-serif !important;
}

/* Font: Newsreader */
.ql-font-newsreader {
    font-family: 'Newsreader', serif !important;
}

/* Font: Libre Bodoni */
.ql-font-libre-bodoni {
    font-family: 'Libre Bodoni', serif !important;
}

/* Font: Baskervville SC */
.ql-font-baskervville-sc {
    font-family: 'Baskervville SC', serif !important;
}

/* Font: Baskervville */
.ql-font-baskervville {
    font-family: 'Baskervville', serif !important;
}

/* Font Awesome Styles */
.fa,
.fa-brands,
.fa-classic,
.fa-duotone,
.fa-light,
.fa-regular,
.fa-sharp,
.fa-sharp-duotone,
.fa-solid,
.fa-thin,
.fab,
.fad,
.fadl,
.fadr,
.fadt,
.fal,
.far,
.fas,
.fasdl,
.fasdr,
.fasds,
.fasdt,
.fasl,
.fasr,
.fass,
.fast,
.fat {
    width: auto !important;
    height: auto !important;
}

/* 2. CSS RESET & DEFAULTS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* Set base font size to 16px, making 1rem = 16px for easy calculations */
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fdfdfd;
    margin: 0 auto;
    /* Center the content */
}

.custom-styles {
    margin-left: auto !important;
    margin-right: auto !important;
}

/* 3. TYPOGRAPHY STYLES */

/* Headings */
h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 0.75rem;
    width: 100%;
    line-height: 1.2;
    font-weight: 700;
    overflow-wrap: break-word;
}

h1 {
    font-size: 4.5rem;
    /* 40px */
}

h2 {
    font-size: 3.5rem;
    /* 32px */
}

h3 {
    font-size: 2.5rem;
    /* 28px */
}

h4 {
    font-size: 2rem;
    /* 24px */
}

h5 {
    font-size: 1.5rem;
    /* 20px */
}

/* Paragraph */
p {
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1rem;
    /* 16px */
    font-weight: 400;
    overflow-wrap: break-word;
}

/* Lists */
ul,
ol {
    margin-bottom: 1rem;
    padding-left: 2rem;
    width: 100%;
}

li {
    margin-bottom: 0.5rem;
}

/* Links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.ql-align-left {
    text-align: left;
}

.ql-align-right {
    text-align: right;
}

.ql-align-center {
    text-align: center;
}

.ql-align-justify {
    text-align: justify;
}

.image-element {
    width: 100%;
}

.default-image {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

.ratio-image {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

.crop-image {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 50%;
}

.spacer {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.divider {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    background-color: silver;
}

/* hr {
  display: block;
  position: relative;
  margin: 20px auto;
  width: 75%;
  height: 2px;
  background-color: silver;
  border: none;
} */

/* @media screen and (max-width: 640px) {
    .custom-styles {
        max-width: 100% !important;
    }
} */

header {
    display: block;
    position: relative;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #2D2D3A;
    border-bottom: 2px solid #555BBB;
    z-index: 999;
}

footer {
    display: block;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #2D2D3A;
    z-index: 999;
}

/*Classes*/

.headerImage {
    position: relative;
    width: 300px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footerText {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Helvetica";
    font-size: 12pt;
    text-align: center;
}

.featuredImage {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
}

/*Media Queries*/

@media screen and (max-width: 480px) {
    .featuredImage {
        width: 500px;
    }
}

@media screen and (max-width: 480px) {
    br {
        line-height: 30px;
    }
}

/*New Styles*/

.building-environment {
    display: grid;
    width: 100%;
    margin: 0 auto;
    justify-items: center;
}

.building-container {
    display: grid;
    position: relative;
    width: 100%;
    gap: 1rem;
}

/* 1 column */
.building-column-span-one {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 100%;
    gap: 1rem;
}

/* 2 columns */
.building-column-span-two {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    gap: 1rem;
}

/* 3 columns */
.building-column-span-three {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    gap: 1rem;
}

/* 4 columns */
.building-column-span-four {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    gap: 1rem;
}

/* 5 columns */
.building-column-span-five {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    width: 100%;
    gap: 1rem;
}

/* 6 columns */
.building-column-span-six {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    width: 100%;
    gap: 1rem;
}

/* Asymm left column */
.building-column-span-asymm-left {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    gap: 1rem;
}

/* Asymm right column */
.building-column-span-asymm-right {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    gap: 1rem;
}

/* Responsive media queries for all spans */

/* --- Tablet / Small Laptop (1200px) --- */
@media (max-width: 1200px) {
    .building-column-span-six:not(.unresponsive-collapse) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .building-column-span-five:not(.unresponsive-collapse) {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    .building-column-span-five:not(.unresponsive-collapse) .building-column:nth-child(-n+3) {
        grid-column: span 2;
    }

    .building-column-span-five:not(.unresponsive-collapse) .building-column:nth-child(n+4) {
        grid-column: span 3;
    }

    .building-column-span-four:not(.unresponsive-collapse) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .building-column-span-three:not(.unresponsive-collapse) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .building-column-span-two:not(.unresponsive-collapse) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/* --- Tablet Portrait (960px) --- */
@media (max-width: 960px) {
    .building-column-span-six:not(.unresponsive-collapse) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .building-column-span-five:not(.unresponsive-collapse) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .building-column-span-five:not(.unresponsive-collapse) .building-column:nth-child(-n+3),
    .building-column-span-five:not(.unresponsive-collapse) .building-column:nth-child(n+4) {
        grid-column: auto;
    }

    .building-column-span-five:not(.unresponsive-collapse) .building-column:nth-child(5) {
        grid-column: span 2;
    }

    .building-column-span-three:not(.unresponsive-collapse) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .building-column-span-three:not(.unresponsive-collapse) .building-column:nth-child(3) {
        grid-column: span 2;
    }
}

/* --- Mobile (640px) --- */
@media (max-width: 640px) {
    .building-column-span-six:not(.unresponsive-collapse),
    .building-column-span-five:not(.unresponsive-collapse),
    .building-column-span-four:not(.unresponsive-collapse),
    .building-column-span-three:not(.unresponsive-collapse),
    .building-column-span-two:not(.unresponsive-collapse),
    .building-column-span-asymm-left:not(.unresponsive-collapse),
    .building-column-span-asymm-right:not(.unresponsive-collapse) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .building-column-span-five:not(.unresponsive-collapse) .building-column:nth-child(-n+3),
    .building-column-span-five:not(.unresponsive-collapse) .building-column:nth-child(n+4),
    .building-column-span-five:not(.unresponsive-collapse) .building-column:nth-child(5),
    .building-column-span-three:not(.unresponsive-collapse) .building-column:nth-child(3) {
        grid-column: auto;
    }
}

/* Column content alignment */
.building-column-content-top {
    align-self: start;
}

.building-column-content-center {
    align-self: center;
}

.building-column-content-bottom {
    align-self: end;
}

/* Block alignment */
.building-block-align-left {
    justify-self: start;
}

.building-block-align-center {
    justify-self: center;
}

.building-block-align-right {
    justify-self: end;
}

.building-column {
    display: block;
    position: relative;
    width: 100%;
}

/*Accordion*/

.accordion-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.accordion:hover {
    opacity: 70%;
    cursor: pointer;
}

.accordion-label {
    display: block;
    position: relative;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 60px !important;
    padding-right: 20px !important;
    width: 100%;
    background-color: #eeeeee;
}

.accordion-label> :first-child {
    margin: 0;
    color: var(--label-color, black);
}

.accordion-label> :first-child::before {
    content: "\25BC";
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;
}

.accordion-label>.accordion-active:before {
    content: "\25B2";
}

.accordion-content {
    display: none;
}