body {
    max-width: 100%;
    height: auto;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: white;
    overflow: hidden;
}

footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #2D2D3A;
    z-index: 1;
}

/*Classes*/

.logoContainer {
    display: block;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 30px));
}

.logo {
    display: block;
    width: 90vw;
    max-width: 732px;
    height: auto;
}

.footerText {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Helvetica";
    font-size: 12pt;
    text-align: center;
}
